.common-properties {
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  padding: 1vmax;
  margin: 1vmax;
  border-radius: 5%;
  min-width: 10vmax;
  background-color: lightblue;
}
