.Control-box {
  font-size: calc(10px + 1vmin);
  width: 100%;
}

.left-button {
  display: flex;
  justify-content: center;
  float: left;
}

.right-side-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(53, 79, 145);
  border-radius: 1.5vmax;
  float: right;
  min-width: 25vmin;
  max-width: 25vmax;
}

.right-side-button-class {
  /* For internal content ... */
  display: flex;
  flex-direction: column;
  align-items: center;
}
