.Status-board {
  width: 100%;
  margin-top: 0.5vmax;
  margin-bottom: 0.5vmax;
}

.inner-status-board {
  background-color: rgb(34, 104, 139);
  /* border-radius: 1.8vmax; */
  width: 95%;
  margin: auto;
  float: center;
  height: 7vmax;
  overflow-y: scroll;
  align-items: left;
}
