.Status-board {
  width: 100%;
  margin-top: 0.5vmax;
  margin-bottom: 0.5vmax;
}

.inner-status-board {
  background-color: rgb(34, 104, 139);
  height: 7vmax;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

.nugget-container {
  float: center;
  width: 95%;
  justify-content: space-around;
}

.matching-progress {
  display: inline;
  padding: 0 1vmax 0 1vmax;
  margin: 0.5vmax 0.5vmax 0.5vmax 0.5vmax;
}

.matching-complete {
  background-color: rgb(139, 82, 7);
  border-radius: 0.5vmin;
}
